<section>
  <div class="title">
    <div class="lineLeft"></div>
    <h4>Contact</h4>
    <!-- <div class="lineRight"></div> -->
  </div>

  <div class="contactOverview">
    <div class="info">
      <h5>Got a problem to solve?</h5>
      <span class="description"
        >Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work.</span
      >
      <span class="contactMe"
        >Need a Frontend developer? <b>Contact me!</b></span
      >
    </div>

    <div class="contactForm">
      <form
        class="form"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
      >
        <div class="sectionName">
          <div class="nameInput">
            <input
              #name="ngModel"
              type="text"
              class="name"
              id="name"
              name="name"
              placeholder="Your name"
              [(ngModel)]="contactData.name"
              required
              [ngClass]="{
                error: name.invalid && name.touched,
                valid: !name.invalid && name.touched
              }"
            />

            <img
              class="invalidIcon"
              src="./assets/icons/invalid.png"
              alt="valid"
              *ngIf="name.invalid && name.touched"
            />
            <img
              class="validIcon"
              src="./assets/icons/valid.png"
              alt="invalid"
              *ngIf="!name.invalid && name.touched"
            />
          </div>

          @if(!name.valid && name.touched && !name.disabled){
          <span class="errorInfo">Your name is required</span>
          }
        </div>

        <div class="sectionEmail">
          <div class="emailInput">
            <input
              #email="ngModel"
              type="email"
              id="email"
              name="email"
              class="email"
              placeholder="Your email"
              [(ngModel)]="contactData.email"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              [ngClass]="{
                error: email.invalid && email.touched,
                valid: !email.invalid && email.touched
              }"
            />
            <img
              class="invalidIcon"
              src="./assets/icons/invalid.png"
              alt="valid"
              *ngIf="email.invalid && email.touched"
            />
            <img
              class="validIcon"
              src="./assets/icons/valid.png"
              alt="invalid"
              *ngIf="!email.invalid && email.touched"
            />
          </div>
          @if(!email.valid && email.touched && !email.disabled){
          <span class="errorInfo">Your email is required</span>
          }
        </div>

        <div class="sectionMessage">
          <div class="messageField">
            <textarea
              #message="ngModel"
              id="message"
              class="message"
              name="subject"
              placeholder="Your message"
              [(ngModel)]="contactData.message"
              required
              minlength="5"
              [ngClass]="{
                error: message.invalid && message.touched,
                valid: !message.invalid && message.touched
              }"
            ></textarea>
            <img
              class="invalidIconMessage"
              src="./assets/icons/invalid.png"
              alt="valid"
              *ngIf="message.invalid && message.touched"
            />
            <img
              class="validIconMessage"
              src="./assets/icons/valid.png"
              alt="invalid"
              *ngIf="!message.invalid && message.touched"
            />
          </div>
          @if(!message.valid && message.touched && !message.disabled){
          <span class="errorInfo">Your message is empty</span>
          }
        </div>

        <div class="confirm">
          <img class="default" src="./assets/icons/default.png" alt="" />
          <img class="checked" src="./assets/icons/checked.png" alt="" />
          <span
            >I´ve read the
            <a href="#" class="privacyPolicy">privacy policy</a>
            and agree to the processing of my data as outlined.</span
          >
        </div>

        <button class="button" type="submit">Send message :)</button>
      </form>
    </div>
  </div>
</section>
