<section>
  <div class="title">
    <div class="lineLeft"></div>
    <h4>Contact</h4>
    <!-- <div class="lineRight"></div> -->
  </div>

  <div class="contactOverview">
    <div class="info">
      <h5>Got a problem to solve?</h5>
      <span class="description"
        >Encourage people to contact you and describe what role you are
        interested in. Show that you will add value to their projects through
        your work.</span
      >
      <span class="contactMe">Need a Frontend developer? Contact me!</span>
    </div>

    <div class="contactForm">
      <form class="form" action="/action_page.php">
        <!-- <label for="fname">First Name</label> -->
        <input
          type="text"
          class="name"
          id="name"
          name="name"
          placeholder="Your name"
        />

        <!-- <label for="lname">Last Name</label> -->
        <input
          type="email"
          id="email"
          name="email"
          class="email"
          placeholder="Your email"
        />

        <!-- <label for="subject">Subject</label> -->
        <textarea
          id="message"
          class="message"
          name="subject"
          placeholder="Your message"
        ></textarea>

        <div>
          <input type="checkbox" name="" id="" />
          <span>I´ve read the </span>
          <span>privacy policy </span>
          <span>and agree to the processing of my data as outlined.</span>
        </div>

        <button class="button" type="submit">Send message :)</button>
      </form>
    </div>
  </div>
</section>
