<section>
  <div class="aboutMe">
    <h2>About me</h2>

    <div class="infoAboutMe">
      <span
        >Write some information about yourself that is IT related. Why are you
        passionate about coding? What is your source of inspiration for
        improving your programming skills?
      </span>

      <div class="overview">
        <div class="location">
          <img src="/assets/icons/11.Location.png" alt="" />
          <span
            >Where are you located? Are you open to different ways of working,
            such as working remotely or even relocating?
          </span>
        </div>
        <div class="learning">
          <img src="/assets/icons/12. bulb desktop.png" alt="" />
          <span
            >Show that you are open-minded. Are you enthusiastic about learning
            new technologies and continually improving your skills?</span
          >
        </div>
        <div class="problemSolving">
          <img src="/assets/icons/13. puzzle desktop.svg" alt="" />
          <span
            >A brief description of your problem-solving approach. Do you learn
            from each challenge as you search for the most efficient or elegant
            solution? You can include some keywords like: analytical thinking,
            creativity, persistence and collaboration.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="image">
    <div class="designOfImg">
        <img src="" alt="" />
    </div>

    <div class="line"></div>
    
  </div>

  <img src="/assets/img/30. Purple shadow about me.png" alt="">
</section>
