<app-navbar></app-navbar>

<section>
  <!-- <img class="backgroundVector" src="assets/img/Vector.png" alt=""> -->

  <div class="mainInfo">
    <div class="imgOfCreator">
      <img
        class="backgroundElement"
        src="assets/img/29. photo shadows.png"
        alt=""
      />
      <img src="" alt="" />
    </div>

    <div class="aboutSection">
      <div class="about">
        <span>I am</span>

        <div class="secondPart">
          <h1>Kenan Cetin</h1>
          <span class="typeOfDeveloper">Frontend Developer</span>
        </div>
      </div>

      <button>Let´s Talk!</button>
    </div>
  </div>

  <div class="references">
    <div class="line"></div>
    <a href="#"><img src="assets/icons/8. Github button.png" alt="" /></a>
    <a href="#"><img src="assets/icons/9. Email button.png" alt="" /></a>
    <a href="#"><img src="assets/icons/10. Linkedin button.png" alt="" /></a>
    <span class="email">cn.kenan&#64;icloud.com</span>

    <div class="scrollDown">
      <span>Scroll down</span>
      <img src="assets/icons/arrow-down-line.png" alt="" />
    </div>
  </div>
</section>
