@use "../../../styles.scss" as *;

section {
  // background-image: url("/assets/img/Vector.png");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 109.03px);
  position: relative;

  >.backgroundVector{
    position: absolute;
    width: 100%;
    bottom: -900px;
    background: transparent;
  }

  >.mainInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    > .imgOfCreator {
      display: flex;
      justify-content: center;
      align-items: center;
      > .backgroundElement {
        width: 690.7px;
        height: 671.38px;
        object-fit: contain;
        // width: 100%;
        // height: auto;
        // max-width: 690.7px;
        // object-fit: contain;
      }
    }

    > .aboutSection {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > .about {
        display: flex;
        justify-content: center;
        align-items: center;
        > span {
          font-size: 64px;
          writing-mode: sideways-lr;
        }
        > .secondPart {
          display: flex;
          flex-direction: column;
          align-items: center;
          display: flex;
          flex-direction: column;
          > h1 {
            font-size: 90px;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
          }
          > .typeOfDeveloper {
            font-size: 58px;
            line-height: 120%;
            color: $thirdColor;
          }
        }
      }

      > button {
        background-color: $secondColor;
        cursor: pointer;
        border: none;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        font-size: 23px;
        &:hover {
          background-color: $thirdColor;
          padding: 20px 40px 20px 40px;
        }
      }
    }
  }

  > .references {
    display: flex;
    align-items: center;
    gap: 32px;
    position: absolute;
    width: 100%;
    bottom: 64px;
    > .line {
      background-color: $thirdColor;
      width: 100px;
      height: 4px;
      border: 4px;
    }
    > .email {
      font-size: 23px;
    }
    > a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    > .scrollDown {
      position: absolute;
      right: 100px;
      bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      > span {
        writing-mode: sideways-rl;
        font-size: 23px;
      }
      > img {
        width: 24px;
        height: 24px;
        object-fit: cover;
      }
    }
  }
}
