@use "../../../../styles.scss" as *;

section {
  height: 291px;
  width: 100%;
  background-color: $mainColor;
  border-top: 4px solid $secondColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  > .legalNotice {
    font-size: 16px;
    text-decoration: none;
  }
  > .vector {
    width: 55.5px;
    height: 2px;
    background-color: $secondColor;
  }
}

.midSection {
  font-size: 23px;
  line-height: 120%;
}

.rightSection {
  padding-right: 100px;
  display: flex;
  gap: 32px;
  > a {
    transition: all 150ms ease-in-out;
    &:hover {
      scale: (1.3);
    }
  }
}
