<section>
  <div class="leftSection">
    <span>Kenan</span>
    <a href="#" class="legalNotice">Legal Notice</a>
    <div class="vector"></div>
  </div>

  <div class="midSection">
    <span>&copy; Kenan Cetin 2025</span>
  </div>

  <div class="rightSection">
    <a href="#"><img src="assets/icons/8. Github button.png" alt="" /></a>
    <a href="#"><img src="assets/icons/9. Email button.png" alt="" /></a>
    <a href="#"><img src="assets/icons/10. Linkedin button.png" alt="" /></a>
  </div>
</section>
