<section>
  <img class="projectDesign" src="/assets/img/laptop.png" alt="" />

  <div class="moreInfo">
    <div class="project">
      <h5>Join</h5>
      <h6>JavaScript | HTML | CSS | Firebase</h6>
      <span class="description">
        Task manager inspired by the Kanban System. Create and organize tasks
        using drag and drop functions, assign users and categories.
      </span>
    </div>

    <div class="buttons">
      <a href="#">
        <button class="liveTest">Live test</button>
      </a>

      <a href="#">
        <button class="gitHub">Github</button>
      </a>
    </div>
  </div>
</section>
